.nrao_acro_extension {
  color: #004990;
  font-family:"ProximaNova-Regular","Source Sans Pro",Helvetica,Roboto,Arial,sans-serif;
  font-weight: 700;
  font-size: 10pt;
  margin: 0;
}

.nrao_acro_submit {
  color: #fff;
  background: #004990;
  font-family:"ProximaNova-Regular","Source Sans Pro"Helvetica,Roboto,Arial,sans-serif;
  font-weight: 700;
  outline: none;
  border: none;
  margin: 3px 0px;
  padding: 5px 10px;
  position: relative;
  overflow: hidden;
  float: right;
}

.nrao_acro_submit:hover {
  background: #ee5340;
  text-decoration: none;
}
