#nrao_acro_extension_options {
  padding: 10px;
}

.nrao_acro_options {  color: #fff;
  background: #004990;
  padding: 4px;
}

.nrao_acro_options label {
  font-size: 14px;
}

#nrao_acro_extension_options #addl_files {
  width: 100%;
  margin-top: 4px;
}

#nrao_acro_extension_options #addl_files option:hover {
  box-shadow: 0 0 10px 10px #004990 inset;
  color: #fff;
}

#nrao_acro_extension_options #addl_files option:focus,
#nrao_acro_extension_options #addl_files option:active {
  background: linear-gradient(#012e57, #0088bb);
  color: #fff;
}

#nrao_acro_extension_options #addl_files option:checked {
  background: linear-gradient(#012e57, #0088bb);
}

#nrao_acro_extension_options #status {
  color: #004990;
}
