#nrao_acro_title {
  color: #fff;
  background: #0693e3;
  font-size: 14pt;
  text-align: center;
  padding: 10px;
  margin: 0;
}

#nrao_acro_search_form {
  padding: 8px;
}

#nrao_acro_search_form input {
  margin: 3px 0px;
}

#nrao_acro_results {
  font-weight: 500;
  margin: 0;
  padding: 8px;
  clear: both;
}

#nrao_acro_results li {
  padding: 6px 0px;
}
